{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Login | MedStore</title>
    <link rel="stylesheet" href="{% static 'store/style.css' %}">
</head>
<body>
<div class="container">
    <div class="card">
        <h2>Admin Login</h2>
        <form method="post" >
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username" autocomplete="username" required>
            <input type="password" name="password" placeholder="Password" autocomplete="new-password" required>
            <button type="submit">Login</button>
        </form>
    </div>
</div>
</body>
</html>
